server:
  port: 8105
spring:
  output:
    ansi:
      enabled: ALWAYS
  profiles:
    include: secret
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false # OSIV 설정 끄기
logging:
  level:
    root: info
    com.ll.hereispaw : debug
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
services:
  auth:
    url: http://110.165.16.61:8090 # 인증 서비스 URL
  post:
    url: http://110.165.16.61:8093  # 게시글 서비스 URL
  chat:
    url: http://110.165.16.61:8095  # 채팅 서비스 URL
  noti:
    url: http://110.165.16.61:8097  # 알림 서비스 URL
  payment:
    url: http://110.165.16.61:8099 # 결제 서비스 URL
  hospital:
    url: http://110.165.16.61:8010 # 병원 서비스 URL